---
import Typography from "../components/Typography.astro";
import Layout from "../layouts/Layout.astro";
import BaseContainer from "../sections/BaseContainer.astro";
import IntroContainer from "../sections/IntroContainer.astro";
import FlipCard from "../components/FlipCard.astro";
import dataDirectors from "../data/directors.json";

import type { Director } from "../env.d.ts";

const clients = [
  {
    id: "5",
    name: "The Verge",
    logo: "the-verge.png",
  },
  {
    id: "2",
    name: "Jakarta Post",
    logo: "jakarta-post.png",
  },
  {
    id: "4",
    name: "The Guardian",
    logo: "the-guardian.png",
  },
  {
    id: "3",
    name: "Tech Radar",
    logo: "tech-radar.png",
  },
  {
    id: "1",
    name: "Gadgets Now",
    logo: "gadgets-now.png",
  },
];

const { directors } = dataDirectors;
---

<Layout title="About page">
  <IntroContainer colorBg="base">
    <article class="flex gap-x-8 justify-between items-end w-full">
      <div class="max-w-[40%]">
        <Typography as="h1" variant="h1-small" color="white">
          About
        </Typography>
      </div>
      <header class="max-w-[60%]">
        <Typography as="p" variant="p" color="white">
          We help companies build dynamic teams made up of top global talent.
          Using our network of passionate professionals we drive innovation and
          deliver incredible outcomes. Talented, diverse teams shape the best
          products and experiences. We’ll bring those teams to you.
        </Typography>
      </header>
    </article>
  </IntroContainer>

  <BaseContainer colorBg="deepJungle">
    <article class="text-center">
      <header class="mb-16">
        <Typography as="h2" variant="h2" color="white"
          >Meet the directors
        </Typography>
      </header>

      <section
        class="grid gap-y-14 gap-x-7 items-center justify-center"
        style="grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));"
      >
        {
          directors.map((director: Director) => (
            <FlipCard
              id={director.id}
              name={director.name}
              charge={director.charge}
              description={director.description}
              avatar={director.avatar}
              social={director.social}
            />
          ))
        }
      </section>
    </article>
  </BaseContainer>

  <BaseContainer colorBg="acramento">
    <article class="text-center">
      <header class="mb-16">
        <Typography as="h2" variant="h2" color="white">
          Some of our cliients
        </Typography>
      </header>

      <div
        class="flex flex-wrap items-center justify-center lg:justify-between gap-5 py-6"
      >
        {
          clients.map((client) => (
            <picture>
              <img
                src={`/images/clients/${client.logo}`}
                alt={client.name}
                class="w-auto max-w-40 lg:max-w-44 max-h-10"
              />
            </picture>
          ))
        }
      </div>
    </article>
  </BaseContainer>
</Layout>
